.navbar {
  background-color: #ffc426;
  color: #ffffff;
  width: 100%; 
  position: fixed; 
  top: 0;
  left: 0;
  padding: 1rem;
  z-index: 1000; 
  box-sizing: border-box; 
  height: 70px; 
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box; 
  position: relative;
  top: -10px; 
}

.navbar-links {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  position: relative;
  top: -5px; 
}

.navbar-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
}

.navbar-links a:hover {
  opacity: 0.7;
}

.movie-item:hover,
.quick-booking:hover {
  background-color:  #6c6c6c40;
  box-shadow: 0 4px 12px  #0a0a0ad6;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.movie-item {
  transition: all 0.3s ease;
}

.quick-booking {
  transition: all 0.3s ease;
}

body {
  margin-top: 80px; 
}

@media (max-width: 768px) {
  .navbar-container {
    flex-wrap: wrap; 
    justify-content: space-between;
  }

  .navbar-logo img {
    width: 40px; 
    height: 40px;
    top: -3px; 
  }

  .navbar-links {
    flex-direction: row; 
    gap: 1rem;
    margin-top: 0;
  }

  .navbar-links a {
    font-size: 1rem; 
  }

  .navbar {
    padding: 0.8rem; 
    height: 70px; 
  }
}

@media (max-width: 480px) {
  .navbar-container {
    flex-wrap: wrap;
    justify-content: space-between; 
  }

  .navbar-logo img {
    width: 35px; 
    height: 35px;
  }

  .navbar-links {
    gap: 0.6rem; 
  }

  .navbar-links a {
    font-size: 0.9rem; 
  }
}

@media (max-width: 768px) {
  .movie-item,
  .quick-booking {
    border: 2px solid #ffc426;
    border-radius: 8px;
    padding: 10px;
  }
}
